*{
    box-sizing: border-box;
}
.container1{
    background-color: gray;
    display: block;
    padding: 2px;
    /* margin-top: 15px; */
}
/* span {
    border-bottom: 3px black solid;
    border-width: 1%;
} */
.container2{
    margin: 30px;
    display: flex;
    /* display:inline-block; */
}
#first,#second,#third{
    border-bottom: 1px red solid;
    display: block;
    margin: 20px;
}
.third-container{
    /* background-color: rgba(23, 21, 21, 0.873); */
    display: flex;

    
   
}
#add,#con{
    border-left: 3px solid white;
    padding: 20px;
    margin-left: 20vh;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
.btn{
    color: grey;
    border: 3px solid black;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 15px;
    border-radius: 5px;
}
#gear,#earth,#leaf{
    color: red;
    position: relative;
    text-align: center;
    font-size: 3vh;
}
#snow{
    color: white;
    text-align: center;
}
#c2{
    background-color: rgba(23, 21, 21, 0.873);
    padding: 10vh;
}