* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.container {
    /* border: 2px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height: 50vh;
    width: 100%;
    overflow: hidden;
    background-color: rgba(255, 228, 196, 0.247);
}

.sub-container {
    /* border: 2px solid black; */
    width: 80%;
    height: 40vh;
    margin-left: 10vw;
    margin-right: 12vw;
    position: relative;
    flex-shrink: 0;
    display: flex;
    padding-left: 40px;
}

.text {
    width: 70%;
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.774);
    padding: 2vh;
    border-radius: 10px;
}

.text p {
    margin: 8vh 6vh 2vh 10vh;
    position: relative;
    font-size: 2.5vh;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.774);
    line-height: 1.5;
    text-align: justify;
}
.links {
    text-align: left;
    margin: 2vh 6vh 2vh 10vh;
}

.links-surf {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.774);
    cursor: pointer;
    padding-right: 2vw;
    font-size: 4vh;
}

.photo-container {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo-detail {
    border: 1px solid black;
    width: 60%;
    height: 70%;
    margin-left: 4vw;
    position: relative;
    border-radius: 50%;
}

.scroll-left {
    position: absolute;
    left: 0;
    z-index: 2;
    top: 20%;
    cursor: pointer;
    font-size: 7vh;
    margin-left: 3vw;
    color: black;
}

.scroll-right {
    position: absolute;
    right: 0;
    top: 20%;
    z-index: 2;
    cursor: pointer;
    font-size: 7vh;
    margin-right: 3vw;
    color: black;
}
.scroll-right:hover {
    transform: scale(1.5);
}
.scroll-left:hover {
    transform: scale(1.5);
}