* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  scroll-behavior: smooth;
}
body {
  background-color: rgb(223, 241, 241);
}
#header {
  padding: 2vh;
  background-color: gainsboro;
  color: black;
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  box-shadow: 2px 3px 30px 20px rgba(0, 0, 0, 0.811);
  z-index: 1;
}
h1 {
  font-size: 5vh;
  text-align: center;
}
.container {
  display: flex;
  background-color: aliceblue;
  overflow: hidden;
  padding-bottom: 3vh;
  padding-top: 5vh;
  margin-top: 10vh;
  z-index: 0;
  transition: all 0.3s; 
}
.sub-container{
  margin: 30px 30px 30px 30px;
  border: 2px solid black;
  border-radius: 25px;
  background-color: rgb(228, 228, 225);
  transition: all 0.3s; 
}
.sub-container:hover {
  transform: scale(1.1);
}
p{
  text-align: center;
  font-size: 4vh;
}
.I1 {
  height: 450px;
  width: 300px;
  border-radius: 25px;
}
.container2{
  margin-top: 40px;
  margin-left: 20px;
  margin-bottom: 20px; 
}
#btn {
  background-color: gray;
  color: white;
  padding: 1vw;
  border-radius:30px;
  font-size: 2vh;
  cursor: pointer;
  box-shadow: 7px 2px 20px 2px black;
}
#btn:hover{
  transform: scale(1.1);
  box-shadow: 9px 6px 20px 10px black;
}
.container3{
  border: 2px solid black;
  padding: 10px;
  width: 100%;
  position: relative;
  background-color: rgb(243, 239, 232);
}
h2 {
  margin: 20px;
}
.Table-items {
border: 2px solid black;
margin-left: 1vw;
font-size: 2.6vh;
width: 50%;
}
.Table-items th {
  border: 2px solid black;
  padding: 1.5vh;
}
.Table-items tr td{
  border: 2px solid black;
  
}
.sub-container.active {
  box-shadow: 7px -7px 30px 4px black;
  transform: scale(1.1);
}
.scroll-left{
  position: absolute;
  left:0;
  top: 50%;
  z-index: 2;
  cursor: pointer;
  font-size: 7vh;
  padding-left: 10px;
  color: rgba(215, 215, 215, 0.878);
}
.scroll-right{
  position: absolute;
  right:0;
  top: 50%;
  z-index: 2;
  cursor: pointer;
  font-size: 7vh;
  padding-left: 10px;
  color: rgba(215, 215, 215, 0.878);
}
.scroll-right:hover{
  transform: scale(1.5);
}
.scroll-left:hover{
  transform: scale(1.5);
}
@media screen and (max-width: 700px) {
  .I1{
    height: 200px;
    width: 150px;
  }
  .container3{
    width: 100%;
  }
  .Table-items {
    width: 50%;
  }
  .scroll-left{
    position: absolute;
    left:0;
    top: 35%;
    z-index: 2;
    cursor: pointer;
    font-size: 7vh;
    padding-left: 10px;
    color: black;
  }
  .scroll-right{
    position: absolute;
    right:0;
    top: 35%;
    z-index: 2;
    cursor: pointer;
    font-size: 7vh;
    padding-left: 10px;
    color: black;
  }
}